/*Organizanção e ajuste do CSS da dashboard 25/06 */

@font-face {
  font-family: Opens;
  src: url(fonte/OpenSans-Regular.ttf)
}

@font-face {
  font-family: Railey;
  src: url(fonte/Railey-PersonalUse.ttf)
}

@font-face {
  font-family: Poppins;
  src: url(fonte/Poppins-Regular.ttf)
}

/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.842);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 230, 114);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(118, 166, 98);
  /* creates padding around scroll thumb */
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;

}

.perfil {
  width: 48%;
  height: 64%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nome {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.janela {
  display: flex;
  background-color: white;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  border-radius: 15px;
  top: 0;
  left: -1%;
  z-index: 999;
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #90c663;
  background-color: #e5fec4;
}


.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #90c663;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.containernav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.containerp {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerb {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.btn-nav-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 3% 3%;
}

.containerb button {
  background-color: #ffffff;
  width: 80%;
  padding: 4%;
  color: #a4d774;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #aecf80;
  border-radius: 15px;
  font-family: Opens;
  cursor: pointer;
}

.botaoc {
  width: 96%;
  display: none;
  /* Inicialmente escondido */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 3%;
}

.botaoc button {
  padding: 5%;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 13px;
  margin-bottom: 7%;
  margin-top: 9%;
  color: #ffffff;
  cursor: pointer;
  font-family: Opens;
  background-color: #90c663;
  color: white;
  border: 2px solid white;
}

#cateinicial {
  background-color: #ffffff;
  width: 80%;
  padding: 4%;
  color: #a4d774;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #aecf80;
  border-radius: 15px;
  font-family: Opens;

}

#cate {
  background-color: #e5fec4;
  border: 3px solid #e5fec4;
  color: #90c663;
  font-family: Opens;
  font-size: 19px;
}

.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 22%;
  background: linear-gradient(to right, #8fab78, #95be73);
  border: 3px solid #688f48;
  color: #fbfff7;
  border-radius: 15px;
  text-align: center;
  padding: 5px 9px;
  cursor: pointer;
}

.containerbutton {
  height: 11%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

/*NAVBAR TERMINA AQUI */

.label-captura {
  display: flex;
  justify-content: center;
}


/*Botões do mural de publicação*/

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}


/*Pagina inicial do dashboard*/

.iniciot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloi {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 27px;
  border-top: 2px solid black;

}

.corpoi {
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.corpotexto {
  font-family: Poppins;
  font-size: 19px;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banners {
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.besquerdo {
  width: 50%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.bdireito {
  width: 50%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.restaurante {
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(248, 55, 104);
  border-radius: 8px;
}

.receita {
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(251, 196, 75);
  border-radius: 8px;
}

.cosmetico {
  width: 85%;
  height: 42%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(63, 159, 167);
  border-radius: 8px;
}

.moda {
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(57, 94, 175);
  border-radius: 8px;
}

.restaurante img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.restaurante:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(248, 55, 104);
}

.cosmetico img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.cosmetico:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(63, 159, 167);
}

.receita img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.receita:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(251, 196, 75);
}

.moda img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.moda:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(57, 94, 175);
}

/*Pagina inicial da dashboard acaba aqui*/

/*css da pagina de tendências*/
.tela {
  background-color: white;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.tela2 {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.telatendencia{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 28px;
  flex-direction: row;
  margin-bottom: 3%;
  margin-top: 2%;
  border-bottom: 2px solid black;

}



.telat2 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
}

.telat3 {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
}

.telag {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telapost {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telacurtida {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telaesquerda {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teladireita {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telaesquerda p {
  font-size: 25px;
}

.teladireita p {
  font-size: 25px;
}

.telaesquerda label {
  font-size: 19px;
}

.teladireita label {
  font-size: 19px;
}

.janelaini {
  display: flex;
  background-image: url(img/fundoinid.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janelagraf {
  background-color: #FCDE34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}


/*22/06*/

.janelagraf2 {
  background-color: #FCDE34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}


.ranking {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;

}

h1 {
  text-align: center;
}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #e8f4e5;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(167, 169, 164);
}

tr:hover {
  background-color: #dadada;
}


/*css da pagina de tendências acaba aqui*/


/*css das curtidas*/
.label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.label svg {
  margin-right: 4px;
}

.label path {
  fill: #ffffff;
  transition: all .25s ease-in-out;
}

.number {
  color: #ffffff;
}

button:hover path {
  fill: #ff0000;
}

button.like .number {
  color: #ff0000
}

button.like svg {
  animation: transitionLike 1s ease-in;
}

button.like path {
  fill: #ff0000;
}


/* Estilo do ícone SVG quando curtido */
.publicacao-btn-editar.liked .label svg path {
  fill: #ff0000;
  /* cor do coração quando curtido */
}

@keyframes transitionLike {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

/*css das curtidas acaba aqui*/

/*Edição do post*/

.janelaedit {
  display: flex;
  background-image: url(img/edit.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

/*edição do post*/


.dash-rightE {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.dash-rightE .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-rightE .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-rightE .avisos .container .div-form {
  width: 92%;
}

.dash-rightE .avisos .container .div-form #form_postagem {
  width: 92%;
}

.dash-rightE .avisos .div-form label {
  width: 92%;
}

.dash-rightE .avisos .div-form input {
  width: 93%;
  border-radius: 5px;
  border: 3px solid rgb(169, 216, 117);
  background-color: rgba(209, 209, 209, 0.645);
  padding: 1%;

}

.dash-rightE .avisos .div-form textarea {
  width: 95%;
  border: 3px solid rgb(169, 216, 117);
  background-color: rgba(255, 255, 255, 0.688);
  border-radius: 5px;
}

.dash-rightE .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(169, 216, 117);
  width: 120px;
}

/*edição do post acaba aqui*/


/*Mural1 */

.dash-right .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 90%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 90%;
}

.dash-right .avisos .div-form label {
  width: 90%;
}

.dash-right .avisos .div-form input {
  width: 93%;
  border-radius: 5px;
  border: 3px solid rgba(248, 55, 104);
  padding: 1%;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid rgba(248, 55, 104);
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgba(248, 55, 104);
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgba(248, 55, 104);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgba(248, 55, 104);
  padding: 20px;
}


.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: rgba(230, 212, 217, 0.725);
  border-radius: 10px;
  margin-bottom: 80px;
}

.janela1 {
  display: flex;
  background-image: url(img/resta.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janela1 label {
  color: #353030;
  font-weight: bold;
  font-size: 16px;
}

/*Mural1 acaba aqui*/


/* Mural2 */

.dash-right2 {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.dash-right2 .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right2 .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right2 .avisos .container .div-form {
  width: 98%;
}

.dash-right2 .avisos .container .div-form #form_postagem {
  width: 98%;
}

.dash-right2 .avisos .div-form label {
  width: 98%;
}

.dash-right2 .avisos .div-form input {
  width: 93%;
  border-radius: 5px;
  border: 3px solid rgba(251, 196, 75, 1);
  background-color: rgb(255, 255, 255);
  padding: 1%;

}

.dash-right2 .avisos .div-form textarea {
  width: 95%;
  border: 3px solid rgba(251, 196, 75, 1);
  background-color: white;
  border-radius: 5px;
}

.dash-right2 .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgba(251, 196, 75, 1);
  width: 120px;
}

.publicacao-btn-editar2 {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgba(251, 196, 75, 1);
  width: 80px;
}

.publicacao2 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgba(251, 196, 75, 1);
  padding: 20px;
}


.publicacao2>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results2 {
  width: 100%;
}

.div-results2 .feed-container {
  background-color: rgba(225, 219, 171, 0.819);
  border-radius: 10px;
  margin-bottom: 80px;
}


.janela2 {
  display: flex;
  background-image: url(img/r.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.tituloc2 {
  color: #ffffff;
  font-size: 17px;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.janela2 label {
  color: #353030;
  font-weight: bold;
  font-size: 16px;
}

.janela2 h2 {
  color: #353030;
  font-size: 30px;
}

.caixac2 {
  width: 80%;
}

.publicacao-btn-editar2.liked .label svg path {
  fill: #ff0000;
  /* cor do coração quando curtido */
}

/*Mural2 acaba aqui */


/* Mural3 */
.dash-right3 {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.dash-right3 .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right3 .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right3 .avisos .container .div-form {
  width: 90%;
}

.dash-right3 .avisos .container .div-form #form_postagem {
  width: 90%;
}

.dash-right3 .avisos .div-form label {
  width: 90%;
}

.dash-right3 .avisos .div-form input {
  width: 93%;
  border-radius: 5px;
  border: 3px solid rgba(57, 94, 175);
  padding: 1%;

}

.dash-right3 .avisos .div-form textarea {
  width: 95%;
  border: 3px solid rgba(57, 94, 175);
  background-color: white;
  border-radius: 5px;
}

.dash-right3 .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgba(57, 94, 175);
  width: 120px;
}

.publicacao-btn-editar3 {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgba(57, 94, 175);
  width: 80px;
}

.publicacao3 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgba(57, 94, 175);
  padding: 20px;
}


.publicacao3>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results3 {
  width: 100%;
}

.div-results3 .feed-container {
  background-color: rgba(212, 216, 230, 0.804);
  border-radius: 10px;
  margin-bottom: 80px;
}


.janela3 {
  display: flex;
  background-image: url(img/modaf.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janela3 label {
  color: #353030;
  font-weight: bold;
  font-size: 16px;
}

.publicacao-btn-editar3.liked .label svg path {
  fill: #ff0000;
  /* cor do coração quando curtido */
}


/*Mural3 acaba aqui */

/*Mural4*/


.dash-right4 {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}


.dash-right4 .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right4 .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right4 .avisos .container .div-form {
  width: 90%;
}

.dash-right4 .avisos .container .div-form #form_postagem {
  width: 90%;
}

.dash-right4 .avisos .div-form label {
  width: 90%;
}

.dash-right4 .avisos .div-form input {
  width: 93%;
  border-radius: 5px;
  border: 3px solid rgba(63, 159, 167);
  padding: 1%;

}

.dash-right4 .avisos .div-form textarea {
  width: 95%;
  border: 3px solid rgba(63, 159, 167);
  background-color: white;
  border-radius: 5px;
}

.dash-right4 .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgba(63, 159, 167);
  width: 120px;
}

.publicacao-btn-editar4 {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgba(63, 159, 167);
  width: 80px;
}

.publicacao4 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid rgba(63, 159, 167);
  padding: 20px;
}


.publicacao4>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results4 {
  width: 100%;
}

.div-results4 .feed-container {
  background-color: rgba(212, 216, 230, 0.804);
  border-radius: 10px;
  margin-bottom: 80px;
}

.janela4 {
  display: flex;
  background-image: url(img/cosmeticos.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janela4 label {
  color: #353030;
  font-weight: bold;
  font-size: 16px;
}

.publicacao-btn-editar4.liked .label svg path {
  fill: #ff0000;
  /* cor do coração quando curtido */
}

/*Mural4 acaba aqui */


/* Pagina da dieta*/


.janeladieta {
  background-color: white;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
  flex-direction: column;
}

.dash-rightcalc {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* cadastro alimentos   01/07*/


.escolher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 19px;
  margin-bottom: 5%;
}

select {
  font-size: 18px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  appearance: none; /* 04/07  Remove o estilo padrão do sistema operacional */
  cursor: pointer; 
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Adiciona a seta SVG */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posiciona a imagem para a direita */
  padding-right: 31px; /* Espaçamento para acomodar a seta */
}

select:focus {
  outline: none;
}



.tudo2 {
  width: 100%;
}

h3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  margin-bottom: 20px;

}



.calcForm {
  font-size: 16px;
  padding: 5px;
  margin-right: 2%;

}

.calcb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.calcb button {
  width: 100px;
  padding: 10px;
  background-color: #89c970;
  border-radius: 10px;
  border: 2px solid green;
  color: white;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.telat {
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 4%;
  background-color: #9ac09adb;
  border-radius: 15px 0 15px 0;
}


.resposta1 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.resposta2 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.resposta3 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.resposta4 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;

}

.resposta5 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.resposta6 {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

#div_mensagem p {
  color: #399337;
  padding: 1%;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid rgb(129, 201, 107)
}

#div_mensagem span {
  color: #000000;
  font-size: 16px;
}

.tituloresposta {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  display: flex;
  font-family: Poppins;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.respostadiv {
  width: 90%;
  height: 90%;
  text-align: center;

}

.inputQtd {
  display: flex;
  border: 2px solid #69954e;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: #090909;
  font-family: Poppins;
  margin-left: 2%;
  z-index: 1000;      /*04/07  Ajuste da posição do input e da checkbox para corrigir os bugs dos cliques nesse elementos*/
  position: relative;

}


input[type="checkbox"] {
  position: relative;
  width: 13px;
  z-index: 1100 ;
}

/* Carrossel  01/07 */

.carousel {
  overflow: hidden;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .carousel__item {
  display: none;
}


.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

.carousel__item {
  width: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #89c970;

}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #FFF;
  background-color: #24242431;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
/* Relatório dieta*/
/* 09/07*/
.qmaior{
  display: flex;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #35303028;
  margin-top: 5%;
}

.qmaior label{/* titulo*/
color: #000000;
font-weight: 600;
font-size: 23px;
margin-bottom: 4%;

}


.qcontainer{
  display: flex;
  width: 100%;
  font-family: Poppins;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
}

.qmenor{/*cards*/
  background-color: #9fbe87;
  width: 250px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}