@font-face {
  font-family: Opens;
  src: url(fonte/OpenSans-Regular.ttf)
}

@font-face {
  font-family: Railey;
  src: url(fonte/Railey-PersonalUse.ttf)
}

@font-face {
  font-family: Poppins;
  src: url(fonte/Poppins-Regular.ttf)
}

/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: Poppins;

}

.perfil {
  width: 48%;
  height: 64%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nome {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.janela {
  display: flex;
  background-color: white;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  border-radius: 15px;
  top: 0;
  left: -1%;
  z-index: 999;
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #90c663;
  background-color: #e5fec4;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #90c663;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.containernav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.containerp {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerb {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.btn-nav-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 3% 3%;
}

button {
  background-color: #ffffff;
  width: 80%;
  padding: 4%;
  color: #a4d774;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #aecf80;
  border-radius: 15px;
  font-family: Opens;
  cursor: pointer;
}

.botaoc {
  width: 96%;
  display: none;
  /* Inicialmente escondido */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 3%;
}

.botaoc button {
  padding: 5%;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 13px;
  margin-bottom: 7%;
  margin-top: 9%;
  color: #ffffff;
  cursor: pointer;
  font-family: Opens;
  background-color:  #90c663;
  color: white ;
  border: 2px solid white ;
}

#cateinicial {
  background-color: #ffffff;
  width: 80%;
  padding: 4%;
  color: #a4d774;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #aecf80;
  border-radius: 15px;
  font-family: Opens;
 
}

#cate{
  background-color:  #e5fec4 ;
  border:3px solid #e5fec4;
  color: #90c663;
  font-family: Opens;
  font-size: 19px;
}

.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 22%;
  background: linear-gradient(to right, #8fab78, #95be73);
  border: 3px solid #688f48;
  color: #fbfff7;
  border-radius: 15px;
  text-align: center;
  padding: 5px 9px;
  cursor: pointer;
}

.containerbutton {
  height: 11%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*NAVBAR TERMINA AQUI */

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(61, 56, 56);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
  border: 3px solid  rgba(63, 159, 167);
  
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid  rgba(63, 159, 167);
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color:  rgba(63, 159, 167);
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color:  rgba(63, 159, 167);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid  rgba(63, 159, 167);
  padding: 20px;
}


.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: rgba(212, 216, 230, 0.804);
  border-radius: 10px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

.iniciot{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloi{
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 27px;
  border-top: 2px solid black;
  
}

.corpoi{
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.corpotexto{
  font-family: Poppins;
  font-size: 19px;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.banners{
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.besquerdo{
  width: 50%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.bdireito{
  width: 50%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:column;
}
.restaurante{
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(248, 55, 104);
  border-radius: 8px;
}

.receita{
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(251, 196, 75);
  border-radius: 8px;
}
.cosmetico{
  width: 85%;
  height: 42%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(63, 159, 167);
  border-radius: 8px;
}
.moda{
  width: 85%;
  height: 43%;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(57, 94, 175) ;
  border-radius: 8px;
}

.restaurante img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.restaurante:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(248, 55, 104);
}

.cosmetico img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.cosmetico:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(63, 159, 167);
}

.receita img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.receita:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(251, 196, 75);
}

.moda img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.moda:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(57, 94, 175);
}

.tela{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.telat{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 28px;
  flex-direction: row;
  margin-bottom: 3%;
  margin-top: 2%;
  border-bottom: 2px solid black;
}

.telat2{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
}
.telat3{
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
}

.telag{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.telapost{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.telacurtida{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telaesquerda{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teladireita{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telaesquerda p{
  font-size: 25px;
}

.teladireita p{
font-size: 25px;
}
.telaesquerda label{
  font-size: 19px;
}

.teladireita label{
font-size: 19px;
}


.label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.label svg {
  margin-right: 4px;
}
.label path {
  fill: #ffffff;   
  transition: all .25s ease-in-out;       
}
.number {
  color: #ffffff;
}
button:hover path{
  fill: #ff0000;
}
button.like .number {
  color: #ff0000
}
button.like svg {
  animation: transitionLike 1s ease-in;
}
button.like path {
  fill: #ff0000;
}


/* Estilo do ícone SVG quando curtido */
.publicacao-btn-editar.liked .label svg path {
  fill: #ff0000; /* cor do coração quando curtido */
}

@keyframes transitionLike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.janelaini{
  display: flex;
  background-image: url(img/fundoinid.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}
.janelagraf{
  display: flex;
  background-image: url(img/tendencia.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janela4{
  display: flex;
  background-image: url(img/cosmeticos.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

.janela4 label{
  color: #353030;
  font-weight: bold;
  font-size: 16px;
}
