@font-face {
  font-family: Opens;
  src: url(fonte/OpenSans-Regular.ttf)
}

@font-face {
  font-family: Railey;
  src: url(fonte/Railey-PersonalUse.ttf)
}

@font-face {
  font-family: Poppins;
  src: url(fonte/Poppins-Regular.ttf)
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins;
  background-color: black;
}

.inicio {
  height: 100vh;
  background-image: url(img/Home-fundo.png);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.842);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 230, 114);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(118, 166, 98);  /* creates padding around scroll thumb */
}
.header {
  height: 16%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.header a {
  text-decoration: none;
  color: #000000;
  font-family: Opens;
  font-size: 23px;
}

.agora {
  font-weight: 800;
}

.acessos ul li.agora {
  color: #44BB3F;
}

.containerH {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #89C063;
  border-radius: 0 0 5vh 5vh;
}

.caixaH {
  width: 97%;
  height: 95%;

}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.logo {
  width: 20%;
  height: 100%;
}

.foto {
  width: 50%;
  height: 100%;
  background-image: url(img/logo2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.acessos {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: right;
  font-size: 20px;

  font-family: OpenSans;
}

.acessos ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.acessos li {
  padding-right: 20px;

}


.home {
  flex-grow: 1;
  /* p-oucpa o resto da div pai */
  display: flex;
  flex-direction: row;
}

.slogan {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.imge {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.caixaimg {
  width: 81%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}


.caixaslogan {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

.tituloslogan {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-self: center;

}

.caixaslogan h1 {
  font-family: Railey;
  color: #44BB3F;
  font-size: 70px;

}

.paragrafo {
  width: 73%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.caixaslogan p {
  font-family: Poppins;
  font-size: 27px;
  margin-left: 9%;

}

button {

  background-color: #012E0F;
  color: #e5e5e5;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  /* Definindo a largura do botão */
  padding: 10px;
  /* Ajustando o padding */
  font-size: 22px;
  /* Ajustando o tamanho da fonte */
  border: 2px solid black;
  ;
  cursor: pointer;
}

.oquee {
  height: 100vh;
  background-image: url(img/fundooq.png);
  display: flex;
  flex-direction: column;

}

.palavras {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: bold;
  color: #fff;
}

.palavrasT {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.palavrasT button {
  background: #E6B631;
  font-size: 25px;
  border-radius: 30px;
  width: 90%;
  border: none;
  font-family: Poppins;
  cursor: default;
}


.palavrasV {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.esquerda {
  width: 20%;
  height: 20%;
}

.esquerda button {
  font-size: 24px;
  border-radius: 30px;
  width: 90%;
  border: none;
  background-color: #1F920D;
  font-family: Poppins;
  cursor: default;
}

.meioou {
  width: 10%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #000000;

}

.direita {
  width: 20%;
  height: 20%;
}

.direita button {
  font-size: 24px;
  border-radius: 30px;
  width: 90%;
  border: none;
  background-color: #1A7C6F;
  font-family: Poppins;
  cursor: default;
}


.imagemVeg {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
}






.influencias {
  height: 100vh;
  background-image: url("img/fundoFig.png");
  display: flex;
  flex-direction: column;

}

.influencia {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.tituloinflu {
  height: 19%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.quadro {
  height: 89%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.quadro p {
  height: 100%;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.quadrantee {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.quadranted {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.quadrante1 {
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
  
}

.quadrante2 {
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}


.quadrante3 {
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.quadrante4 {
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.imgq {
  height: 95%;
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
}

.text {
  height: 100%;
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin: 0 2% 0 2%;
  padding:1%;
  border: 1px solid black;
  
}




.saude {
  height: 100vh;
  background-image: url(img/fundosaude.png);
  display: flex;
  justify-content: center;
  align-items: center;

}

.caixasaude {
  height: 100%;
  width: 93%;
  display: flex;
  flex-direction: column;
  color: #e5e5e5;
}

.caixah1 {
  height: 2%;
  width: 100%;
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 1%;
  color: #000000;
}

.caixah12 {
  height: 6%;
  width: 24%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.caixah2 {
  height: 37%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.textcaixa2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.text2 {
  height: 100%;
  width: 85%;
  text-align: start;
  font-size: 17px;
}

.imgcaixa2 {
  height: 8%;
  width: 32%;
}

.caixah3 {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
  color: white; /* Cor do texto */
  text-shadow:
      -1px -1px 1px #424a1c,  
       1px -1px 1px #424a1c,
      -1px  1px 1px #424a1c,
       1px  1px 1px #424a1c;
}



.caixah4 {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
}

.caixah4 .caixa41 {
  height: 100%;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.imgc1{
  height: 50%;
  width: 10%;
  display: flex;
  align-items: center;
  margin-left: 1%;
}



.caixah4 .caixa42 {
  height: 100%;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  margin-top: 2px;
}


.saude2 {
  height: 100vh;
  background-color: #8ABC67;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.caixasaude2 {
  height: 50%;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}
.caixasaude3 {
  height: 49%;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7ba56aa6;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.caixa5 {
  height: 60%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa6 {
  height: 60%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa7 {
  height: 60%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa51 {
  height: 90%;
  width: 92%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.caixa61 {
  height: 90%;
  width: 92%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.caixa71 {
  height: 90%;
  width: 91%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.tituloc5{
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #ffa735;
  border-radius: 10px;
}
.tituloc4{
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #ff3c35;
  border-radius: 10px;
  
}
.tituloc3{
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #e2c626;
  border-radius: 10px;
  
}
.tituloc2{
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  background-color: rgb(157, 90, 157);
  border-radius: 10px;

}

.tituloc1{
  height: 12%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #66a7ec;
  border-radius: 10px;
  margin-top: 5%;
}

.ptitulo{
  height: 10%;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.ptitulo p{
  font-size: 24px;
  font-weight: bold;
  color: white; /* Cor do texto */
  text-shadow:
      -1px -1px 1px #424a1c,  
       1px -1px 1px #424a1c,
      -1px  1px 1px #424a1c,
       1px  1px 1px #424a1c;
}

.ref {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
}

.p1 p{
  font-size: 16px;
  font-family: Poppins;
  margin: 10px;
}

.p2 p{
  margin-left: 13%;
  font-size: 16px;
  font-family: Poppins;
  margin: 10px;
}

.p2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
}

a[target="_blank"] {
  /* Estilos desejados */
  color: rgba(114, 235, 114, 0.799);      /* Altera a cor do texto */
  font-weight: bold; /* Deixa o texto em negrito */
  text-decoration: underline; /* Adiciona sublinhado */
}

/* Calculadora */

.cal1 {
  height: 60vh;
  background-image: url(img/fundosimu.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #8abc6790;
}


.cal2 {
  height: 100vh;
  background-color: #FEFFEF;
  display: flex;
  font-family: Poppins;
  
}

.tudo1{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tudo2{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulocalc{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14%;
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  color: #000000;
}

.contexto{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: Poppins;
}

.contexto p{
 margin-left: 5%;
 margin-right: 3%;

}

.contexto a{
color: #8ABC67;
 
 }

.contexto label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
 }

.pcima{
  width: 100%;
  height: 95%;
  background-image: url(img/fundocalc.png);
  display: flex;
  justify-content: space-evenly;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.pcima h2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a9e0a1b6;
  font-size: 20px;
  border-radius: 10px;
  
}



#calcForm{
  background-color: #a9e0a1ce;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  display: inline-block; /* Alinhar os itens verticalmente */
  align-items: start; /* Centralizar verticalmente */
  flex-direction: column;

}

.calcb{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/fundocalc.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #D2E5C5;

}

.calcb button{
  width: 10%;
  padding: 9px;
  background-color: #89c970;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.resposta{
  height: 100vh;
  background-color: #FCF5E3;
  display: none;
  font-family: Poppins;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div_mensagem p{
  color: #399337;
  padding: 1%;
  font-size: 17px;
  background-color: rgba(201, 237, 177, 0.859);
  border-radius: 10px;
  border: 1px solid rgb(129, 201, 107)

}

#div_mensagem span{
  color: #000000;
  font-size: 16px;
}

.tituloresposta{
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  display: flex;
  font-family: Poppins;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.respostadiv{
  width: 90%;
  height: 90%;
  text-align: center;

}


/* Estilo para os rótulos */
label {
  display: inline;

}

input {
  border: 1px solid #88d673;
  border-radius: 5px;
  padding: 3px;
  font-size: 5px;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 10px; /* Espaçamento entre os itens na vertical */
}

.inputQtd {
  display: flex;
  border: 2px solid #589c4c;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  color: #090909;
  font-family: Poppins;
  margin-left: 2%;

}


/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #e6005a;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


/*Rodapé*/

.footer {
  height: 160px;
  background-color: #a9cb9e;
  justify-content: center;
  align-items: center;
}

.footer .rodape {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rodape p {
  font-family: Poppins;
  color: #3e6f38;
  font-weight: bold;
  font-size: 17px;
}

.baixo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23px;
  background-color: #73c958;
  color: #fff;
}

.quadrante li {
  color: white;
  padding: 3px;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
  font-weight: bold;

}

.quadrante{
  margin-right: 10%;
}

.listinha a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;

}
#duvidas{
  margin-left: 34%;
}
#site{
  margin-left: 47%;
}
#redes{
  margin-left: 30%;
  white-space: nowrap;
}

.listinha img {
  width: 1em;
  margin-left: 6px;
}